* {
  transition: all 150ms linear;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

#vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

button {
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 10rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}

#on-save {
  background-color: springgreen;
  color: black;
}

#on-discard {
  background-color: red;
  color: white;
}

#car-canvas {
  background: lightgray;
}

#network-canvas {
  background: black;
}
